<div class="theme-toggle-container">
    <button id="theme-toggle" class="theme-toggle-btn" title="Toggle Theme">
        <i class="fas fa-sun light-icon"></i>
        <i class="fas fa-moon dark-icon"></i>
        <i class="fas fa-desktop system-icon"></i>
    </button>
    
    <div class="theme-dropdown" id="theme-dropdown">
        <div class="theme-option" data-theme="light">
            <i class="fas fa-sun"></i>
            <span>Light</span>
        </div>
        <div class="theme-option" data-theme="dark">
            <i class="fas fa-moon"></i>
            <span>Dark</span>
        </div>
        <div class="theme-option" data-theme="system">
            <i class="fas fa-desktop"></i>
            <span>System</span>
        </div>
    </div>
</div>
